main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#main-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#main-content h1 {
    text-align: center;
}

#main-content h2 {
    text-align: center;
}

#buttons {
    display: flex;
    justify-content: center;
}