@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes move-divider {
    from {}
}

.fade-element {
    opacity: 0;
    pointer-events: none;
}

.fade-element.fade-in {
    opacity: 1;
    transition: opacity 1s ease-in-out;
    pointer-events: none;
}