@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-element {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-element.fade-in {
    opacity: 1;
}
