html {
    min-height: 100%;
}

body {
    background-color: #1c1c1c;
    background: linear-gradient(180deg, rgba(16, 16, 16, 1) 0%, rgba(32, 32, 32, 1) 100%);
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #3c3c3c;
    text-align: center;
}

.button-header {
    color: #eeeeee;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;

    padding: 20px 10px;
    font-size: 10px;
}

.button-header:hover {
    color: #dddddd;
}

.button-word {
    margin-left: 100px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    text-align: center;
}