html {
    min-height: 100%;
}
body {
    background-color: #1c1c1c;
    background: linear-gradient(180deg, rgba(28, 28, 28, 1) 0%, rgba(60, 60, 60, 1) 90%, rgba(92, 92, 92, 1) 100%);
}

.header {
    color: white;
    text-align: center;
}

.changes {
    color: red;
    text-align: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    text-align: center;
}