body {
    background-color: #1c1c1c;
}

.header {
    color: white;
    text-align: center;
}

.changes {
    color: red;
    text-align: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    text-align: center;
}