html, body, main {
    height: 100%;
    margin: 0;

    background-color: transparent;
}

.button-header {
    color: #eeeeee;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;

    padding: 10px 10px;
    font-size: 15px;
    margin-top: 5px;
    text-decoration: none;
}

.button-header:hover {
    color: #bbbbbb;
}

#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #3c3c3c;
    text-align: center;

    z-index: 3;
}

#footer {
    z-index: 3;
}

#button-home {
    float: left;

    font-size: 25px;
    margin-top: 0px;
    margin-left: 50px;
}

#footer-text {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
}

#skyline {
    position: fixed;
    left: 10%;
    bottom: 0;
    width: 80%;

    filter: invert(1);
}

#main-content {
    position: relative;
    margin-top: 125px;

    text-align: center;
    z-index: 2;

    min-height: 100%;

    color: #ffffff;
}